node_modules
build
.sass-cache
cache
dist
cordova-builds
desktop-builds
.DS_store
audio
statics/beginning/assets/audio
statics/level-1/assets/audio
statics/level-2/assets/audio
statics/level-3/assets/audio
statics/beginning-demo/assets/audio
statics/level-1-demo/assets/audio
statics/level-2-demo/assets/audio
statics/level-3-demo/assets/audio

