.menu-button {
    background: url('images/home-button.png') no-repeat 0 0;
    -webkit-background-size: 200% 100%;
       -moz-background-size: 200% 100%;
         -o-background-size: 200% 100%;
            background-size: 200% 100%;
    background-position: top 0 right 100%;
    background-positionX: 100%;
    background-positionY: 0;

    @include active {
        background-position: top 0 right 0;
        background-positionX: 0;
        background-positionY: 0;
    }
}
