.license {
    position: absolute;
    top: 0;
    padding: 16px;
    overflow: auto;
}

.license__header {
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 16px 0;
}

.license__paragraph {
    margin: 0 0 16px 0;
    font-size: 18px;
    line-height: 22px;
}

.license__section-title {
    font-weight: 700;
}